<!DOCTYPE html>
<html>

<head>

  <title>Supermarket</title>

</head>

<body>

  <h1>Supermarket</h1>

  <section>
  What would you like to buy?

  <ul>

    <li>Apple 50p <button name="apple">Add apple</button> <button>Remove</button></li>
    <li>Banana 70p <button>Add banana</button> <button>Remove</button></li>
    <li>Strawberries &pound;1.10 <button>Add strawberries</button> <button>Remove</button></li>
    <li>Grapes 99p <button>Add grpes</button> <button>Remove</button></li>
    <li>Mango &pound;1.10 <button>Add mango</button> <button>Remove</button></li>

  </ul>

  </section>

  <section>
  Basket

  1 item added
  </section>

</body>

</html>