<!DOCTYPE html>
<html>

<head>

  <title>Supermarket</title>

</head>

<body>

  <h1>Supermarket</h1>

  <section>
  What would you like to buy?

  <ul>
    <li>Apple 50p <button>Add</button> <button>Remove</button></li>
    <li>Banana 70p <button>Add</button> <button>Remove</button></li>
    <li>Strawberries &pound;1.10 <button>Add</button> <button>Remove</button></li>
    <li>Grapes 99p <button>Add</button> <button>Remove</button></li>
    <li>Mango &pound;1.10 <button>Add</button> <button>Remove</button></li>
  </ul>


  </section>
</body>

</html>